<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Python Flask - Image Recognition</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
    </head>
    <body>
        <h1>Welcome to Python Flask Image Recognition</h1>
        <h3>Select an image to start recognition</h3>
        <form method="post" action="http:localhost:8080/images" enctype="multipart/form-data">
            <label>Name of File: 
                <input type="text" name="name" value="" />
            </label>
            <br />
            <br />
            <label>Upload Image
                <input type="file" name="image-file" autocomplete="off"/>
            </label>
            <label>or URL:
                <input type="url" name="image-url" autocomplete="off"/>
            </label>
            <br />
            <br />
            <label>Enable Object Detection:
                <input type="checkbox" name="object-detection" checked />
            </label>
            <br />
            <br />
            <input type="submit" value="Upload" />
        </form>
    </body>
</html>